:root {
    --primary-color: #1d5888;
    --secondary-color: #ff993b;
    --dark-color: #080808;
    --white-color: #dff3e4;
}

body {
    color: var(--dark-color);
}

nav {
    background-color: var(--dark-color);
}

footer {
    background-color: var(--dark-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--primary-color);
}

footer {
    padding-right: 1rem;
}

footer .social>a {
    color: var(--white-color);
    opacity: .75;
}

footer .social>a:hover {
    opacity: 0.9;
    color: var(--secondary-color);
}

.bsicon {
    color: purple;
}

.jsicon {
    color: rgb(219, 219, 17);
}

.html5icon {
    color: orangered;
}

.cssicon {
    color: rgb(34, 43, 216);
}

.checklist>li i {
    color: var(--secondary-color);
}

code[class*="language-"],
pre[class*="language-"] {
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
}

main>.container {
    padding: 60px 15px 0;
    margin-bottom: 5rem;
}